@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --blanco: #FFFFFF;
    --negro: #000000;
    --azul: #151A41;
    --rosa: #FF0099;
    --gris-claro: rgba(128, 128, 128, 0.4);
    --box-shadow-gris: 0 15px 50px -20px #0000007a;
}

main {
    width: 100vw;
    height: 100vh;
    background: rgb(245, 245, 245);
    gap: .5rem;
}

main, .pop-up {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.pop-up {
    position: relative;
    width: 300px;
    height: 325px;
    background: var(--blanco);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: var(--box-shadow-gris);
}

.pop-up__button-x {
    position: absolute;
    top: .7rem;
    right: .9rem;
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1rem;
    font-weight: 300;
    color: var(--gris-claro);
    background: var(--blanco);
    border: 1px solid var(--gris-claro);
    border-radius: 50%;
    cursor: pointer;

}

.pop-up p {
    font-size: .9rem;
    font-weight: 700;
    text-align: center;
}

.pop-up__numbers {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}

.pop-up__button-numbers {
    font-weight: 700;
    font-size: .9rem;
    padding: .5rem .9rem;
    border: 1px solid var(--gris-claro);
    border-radius: .2rem;
    background: var(--blanco);
}

